* {
  box-sizing: border-box;
}

.haiku-lines {
  grid-row-start: 1;
  grid-column-start: 2; 
  font-family: 'righteous'; 
  font-style: bold; 
  font-size: 1rem; 
  z-index: 1; 
  display: flex; 
  justify-content: left;  
  margin: 310px 270px 0px auto;  
  opacity: 0;
  border: solid gold 2px;
  width: 254px;
  height: 132px;
  /* visibility: hidden; */
}

.list-group-item {
  border: solid rgb(255, 255, 255) 2px; 
  display: flex; 
  justify-content: center; 
  width: 250px;
  position: relative;
}

body {
  font-family: Helvetica;
  display: flex; 
  justify-content: center;
  background-color: bisque;
  margin: 100px;
}

.outer-container {
  width: 900px; 
  height: 700px;
  display: grid;
  grid-template-columns: 2fr 6fr; 
  grid-template-rows: [row-1-start] 25% [row-1-end] 100px [third-line] auto [last-line]; 
  justify-content: center;
  border: solid goldenrod 1px;
  background-color: rgb(243, 239, 237); 
}


#arrow-icon {
  display: flex;
  grid-row-start: 1;
  grid-column-start: 1;
  position: absolute; 
}

#question-icon {
  display: flex;
  grid-row-start: 1;
  grid-column-start: 1;
  position: absolute; 
  margin: 4px 0px 0px 137px;
  visibility: visible; 
  z-index: 1;
}

.round-box {
  grid-row-start: 1;
  color: rgb(21, 19, 19); 
  font-family: 'righteous'; 
  font-style: bold; 
  font-size: 2rem; 
  z-index: 1; 
  display: flex; 
  justify-content: center; 
  margin: 20px; 
}


.instructions{
  grid-row-start: 2;
  grid-column-start: 1; 
  color: rgb(21, 19, 19); 
  font-family: 'righteous'; 
  font-style: bold; 
  font-size: 1rem; 
  z-index: 1; 
  display: flex; 
  margin: 25px 30px 30px 70px; 
  position: absolute; 
  width: 100px; 
  visibility: hidden;
}


.game-title {
  grid-row-start: 1;
  grid-row-end: 1;
  grid-column-start: 2; 
  color: white; 
  font-family: 'inspiration', cursive;
  font-size: 4rem; 
  font-style: italic;
  z-index: 1; 
  display: flex; 
  justify-content: right;
  margin: 40px 50px;  
}

.score-box {
  grid-row-start: last-line;
  grid-column-start: 2; 
  color: white; 
  font-family: 'righteous'; 
  font-style: bold; 
  font-size: 2rem; 
  z-index: 1; 
  display: flex; 
  justify-content: right;
  margin: 359px 30px 20px 560px;  
}

#result {
  grid-row-start: last-line;
  grid-column-start: 2; 
  color: white; 
  font-family: 'righteous'; 
  font-style: bold; 
  font-size: 1.3rem; 
  z-index: 1; 
  display: flex; 
  justify-content: right;
  width: 50%;
  margin: 225px 380px 20px 300px;  
}

.inner-right-container {
  display:flex;
  flex-flow: column nowrap;
  grid-column-start: 2; 
  grid-row-start: 1;
  grid-row-end: 3;
  width: 700px;
  height: 698px;
  border: solid goldenrod 3px; 
  background-image: url('colorinjapan.png'); 
  position: relative;
  margin: 0px 0px 0px 100px;
}

#seal {
  grid-column-start: 2; 
  height:50px;
  width: 75px;
  margin: 622px 0px 0px 60px;
  z-index: 1;
  position: absolute; 
  opacity: 0;
}

#reset {
  display: flex;
  grid-row-start: 1;
  grid-column-start: 1;
  position: absolute;
  visibility: hidden;
  margin: 1px
}



